*{
    margin: 0;
    padding: 0;
}


.body{
    background-image: url('./img/peakpx.jpg');
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    padding-top: 20px;
    justify-content: left;
}
.body h1{
    background-color: transparent;
    padding-left: 180px;
    padding-top: -260px;
    font-size: 60px;
    color: whitesmoke;
}

#board{
    background: linear-gradient(120deg, skyblue, green);
    width: 105vmin;
    height: 92vmin;
    margin-left: 20px;
    border: 6px solid white;
    border-radius: 6px;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.2);
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}


.head{
    background-color: rgb(5, 103, 33);
}
.snake{
    background-color: rgb(10, 234, 43);    
}

.food{
    background-color: yellow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}